aspose-words
asttokens
backcall
Camelot
camelot-py
cffi
chardet
charset-normalizer
click
cramjam
cryptography
debugpy
decorator
distro
Elixir
entrypoints
et-xmlfile
executing
fastparquet
fsspec
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pathlib
pbr
pdfminer
pdfminer.six
pexpect
pickleshare
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
pycryptodome
Pygments
pyparsing
PyPDF2
python-dateutil
pytz
pyzmq
six
SQLAlchemy
sqlalchemy-migrate
sqlparse
stack-data
tabula-py
tabulate
Tempita
tornado
traitlets
typing_extensions
wcwidth
xlrd
xlwt
